* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
height: 165px;
width: 165px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.choice {
    position: relative;
    
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .choice:hover .image {
    opacity: 0.3;
  }
  
  .choice:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #048eaa;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .choice:hover{
   
    transform: scale(0.96);
    cursor: pointer;
    
  }
    


img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
     
}

.msg-container {
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

